* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Fuentes*/
    --fuente_titulo_principal: 'New Tegomin', serif;
    --fuente_citas: 'Indie Flower', cursive;
    /*Tamanos Fonts*/
    --tam_fuente_titulos_header: 1.875rem;
    --tam_fuente_titulos_header_responsive: 1em;
    --tam_fuente_citas: 3em;
    --tam_fuente_citas_responsive: 2em;
    --tam_fuente_header: 1.5em;
    --tam_fuente_header_responsive: 1em;
    /*Colores*/
    --negro: black;
    --blanco: white;
    --blanco_transparente: rgba(255, 255, 255, 0.452);
    --fucsia: #e73c7e;
}

body {
    background: url(../img/back3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}


/*
* HEADER y MENU
*/

.header {
    display: flex;
    justify-content: space-between;
    font-family: var(--fuente_titulo_principal);
    height: 10vh;
    background: var(--blanco);
    font-size: var(--tam_fuente_header_responsive);
}

.logo {
    display: flex;
    align-items: center;
    width: 50%;
}

.logo h1 {
    font-size: var(--tam_fuente_titulos_header_responsive);
}

.logo img {
    height: 75%;
}


/*
* NAV - MENU
*/

.nav-bar {
    position: absolute;
    background-color: var(--negro);
    top: -100vh;
    right: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
}

.toggle {
    top: 10vh;
    box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}


/* ver para que no sea fixed, y sea parte de la barra
*/

.toggle-menu {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 1rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.line {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: var(--blanco);
    transition: 0.2s ease-out;
}


/* efectos boton toggle*/

.toggle .line1 {
    background-color: var(--fucsia);
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
    display: none;
}

.toggle .line3 {
    background-color: var(--fucsia);
    transform: scale(0.9) rotateZ(45deg) translate(-10px, -8px);
}

.toggle .toggle-menu {
    background-color: var(--blanco);
}

.nav-list {
    list-style: none;
}

.nav-list-item {
    text-align: center;
    padding: 1rem 0;
}

.nav-link {
    color: var(--blanco);
    font-size: 1em;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.4rem;
}

.nav-link::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--blanco);
    transform: scaleX(0);
    transition: 0.4s ease-in-out;
    transform-origin: left;
}

.nav-link:hover::before {
    transform: scaleX(1);
}


/*
* PRINCIPAL
*/

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    height: 95vh;
    padding: 2%;
}

.principal blockquote {
    font-family: var(--fuente_citas);
    font-size: var(--tam_fuente_citas_responsive);
    color: var(--blanco_transparente);
    text-align: center;
}

.redes_sociales {
    display: none;
}

footer {
    background: rgba(0, 0, 0, 0.376);
    height: auto;
    font-family: var(--fuente_titulo_principal);
    color: var(--blanco);
    text-align: center;
}

@media only screen and (min-width: 1000px) {
    .header {
        font-size: var(--tam_fuente_header);
    }
    .logo {
        width: 40%;
    }
    .logo h1 {
        font-size: var(--tam_fuente_titulos_header);
    }
    .logo img {
        height: 80%;
    }
    .nav-bar {
        position: relative;
        background-color: var(--blanco);
        top: 0;
    }
    .toggle-menu {
        display: none;
    }
    .nav-list {
        display: flex;
        justify-content: space-around;
        padding: 0 5%;
        flex-grow: 1;
    }
    .nav-link {
        color: var(--negro);
    }
    .principal blockquote {
        font-size: var(--tam_fuente_citas);
    }
    .boton_redes {
        margin: 2px;
        width: 25px;
        height: 25px;
    }
    .redes_sociales {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        bottom: 15px;
        right: 5px;
        list-style: none
    }
}